body {
  background-color: #F70050;
}

header {
  padding: 10px 10px 10px 10px;
  width: 100%;
  height: 80px;
  background-color: black;
  color: white;
  font-size: 50px;
  font-family: futura;
  text-transform: uppercase;

}

nav {
  padding: 10px 10px 10px 10px;
  width: 100%;
  height: 40px;
  background-color: white;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.user-container {
  margin-left: 20px;
  margin-right: 20px;
  width: 350px;
  display: flex;
  flex-direction: row;
  border: solid #F798B8 3px;
  padding: 10px 10px 10px 10px;
  margin-bottom: 20px;
  height: 100px;
}

#attribute-container {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 75px;
  border: solid #F798B8 3px;
  padding: 5px 10px 10px 10px;
  margin-bottom: 20px;
  background: #F798B8;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 10px;
}

.username {
  color: white;
  margin-bottom: 10px;
}

.repos {
  margin-top: 2px;
}

.followers {
  margin-top: 2px;
}

a {
   background-color:transparent;
   text-decoration:none;
 }

 a:link    {color: white;}
 a:visited {color: white;}
 a:hover   {color:#ff0066;}
 a:active  {color:#b30047;}
