body {
  background-color: #FFD700;
}

header {
  padding: 20px 10px 0px 10px;
  width: 100%;
  height: 110px;
  background-color: black;
  color: white;
  font: 400 45px/1.3 'Oleo Script', Helvetica, sans-serif;
  text-align: center;
  text-transform: uppercase;

}

header p {
  padding-top: 13px;
  text-transform: none;
  font-family: 'Trebuchet MS';
  font-size: 18px;
}

nav {
  padding: 10px 10px 25px 10px;
  width: 100%;
  height: 45px;
  background-color: white;
  margin-bottom: 20px;
  font-family: 'Trebuchet MS';
  text-align: center;
}

nav p {
  padding-top: 5px;
  padding-bottom: 8px;
  font-size: 20px;
  text-transform: uppercase;
}

.user-container {
  float: left;
  display: inline-flex;
  font-family: 'Trebuchet MS';
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 0px;
  border-radius: 10px;
  width: 300px;
  display: flex;
  flex-direction: row;
  border: solid #FF7F50 2px;
  padding: 10px 10px 10px 10px;
  margin-bottom: 20px;
  height: 100px;
}

#attribute-container {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 84px;
  border: solid #FF7F50 3px;
  border-radius: 10px;
  padding: 0px 10px 10px 10px;
  margin-bottom: 20px;
  background: #FF7F50;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin-right: 10px;
}

.username {
  padding-top: 8px;
  color: white;
  margin-bottom: 10px;
  font-size: 20px;
}

.repos {
  margin-top: 5px;
}

.followers {
  margin-top: 8px;
}

a {
   background-color:transparent;
   text-decoration:none;
 }

 a:link    {color: white;}
 a:visited {color: white;}
 a:hover   {color:#ff0066;}
 a:active  {color:#b30047;}
